@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'base/variables';

* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}



.container {
    width: 540px;
    margin: 0 auto;
}


@import 'blocks/_advantages';
@import 'blocks/_registration';
@import 'blocks/_navigation';
@import 'blocks/_profile-page';


.wrapper {
    display: flex;
    justify-content: space-around;
}

.authorization-btn, .registration-btn {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: #55DDFF;
        text-decoration: none;
    }
}

.shadow {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.active {
    display: block;
}

.active__suc {
    display: block;
}

.active-btn {
    color: #55DDFF;
}

.authorization__message {
    text-align: center;
    color: red;
    font-size: 19px;
}

